<%- include("header") -%>
<div class="content">
    <h1 class="confirm-delete">Are you sure you want to delete <%=game.name%> for <%=game.games_console.name%>?</h1>
    <form action="" method="POST" class="delete-form">
        <button class="delete">Delete Game</button>
    </form>
    
</div>

<%- include("footer") -%>