@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/Inconsolata-VariableFont_wdth\,wght.ttf");
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection{
  color: yellow;
}

header,
footer{
  display: flex;
  justify-content: space-between;
  background-color: #F34213;
  color: white;
  padding: 20px 30px;
  align-items: center;
  font-family: "Jost", sans-serif;
}

header{
  font-size: 28px;
  border-bottom: 5px solid white;
  height: 10vh;
  position: sticky;
  top: 0;
}

.content{
  display: flex;
  flex-direction: column;
}

.right-links{
  display: flex;
  gap: 20px;
}

footer{
  justify-content: center;
  border-top: 5px solid white;
  height: 5vh;
}

.content{
  background-color: black;
  color: white;
  font-family: "Jost", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  min-height: 85vh;
}

a:hover{
  cursor: pointer;
  color: black;
  transition: all 0.2s ease-out;
}

a{
  text-decoration: none;
  color: white;
}

.content h1{
  font-size: 48px;
}

.welcome-description{
  font-size: 24px;
  font-style: italic;
}

.stats{
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  color: red;
  margin-top: 40px;
  border-radius: 24px;
  gap: 20px;
  font-size: 24px;
}

.stats p{
  font-family: "Inconsolata", sans-serif;
}

.consoles,
.console-games,
.games{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 100%;
  width: 100%;
}

.console,
.game{
  background-color: #F34213;
  color: white;
  margin: 20px;
  padding: 20px 40px;
  border-radius: 24px;
  max-width: 300px;
  max-height: 400px;
  text-align: center;
  font-size: 18px;
  border: 5px dashed black;
}

.console p{
  font-family: "Inconsolata", sans-serif;
  font-style: italic;
}

.game .description{
  font-size: 16px;
  font-style: italic;
}

.game-detail{
  height: 80%;
  width: 60%;
  font-size: 24px;
  background-color: #F34213;
  padding: 10px 20px;
  border-radius: 5px;
}

.add-new,
.delete,
.update{
  background-color: yellow;
  padding: 30px 20px;
  font-size: 24px;
  border-radius: 48px;
  cursor: pointer;
  border: none;
  font-family: "Jost", sans-serif;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 28px;
}

.add-new:hover,
.delete:hover,
.update:hover{
  background-color: black;
  color: yellow;
  border: 1px solid white;
  transition: all 0.2s ease-out;
}

.buttons{
  margin-top: auto;
  display: flex;
  gap: 20px;
}

form{
  display: flex;
  flex-direction: column;
  font-size: 32px;
  margin-top: 18px;
  border-top: 5px solid grey;
  padding: 20px;

}

form *{
  margin-bottom: 18px;
}

input{
  height: 32px;
}

select,
input{
  font-family: "Jost";
  font-size: 28px;
}

.form-item{
  display: flex;
  align-items: center;
  gap: 20px;
}

.errors{
  color: red;
}

.errors p{
  font-weight: bold;
  font-size: 24px;
}

.add-new-game{
  padding: 14px 20px;
}

textarea{
  font-family: "Jost", sans-serif;
  font-size: 20px;
}

.confirm-delete{
  width: 50%;
  padding-top: 20vh;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 5px solid grey;
}

.delete-form{
  border: none;
}

.delete-games{
  background-color: #F34213;
  max-width: 60%;
  border-radius: 20px;
  padding: 10px 20px;
  text-align: center;
}

.delete-games h2{
  font-size: 32px;
}

input[type="file"]{
  height: 60px;
  color: red;
}

.console img{
  max-height: 120px;
  margin-top: 12px;
  border-radius: 10px;
  max-width: 100%;
}

img{
  height: 160px;
  border-radius: 12px;
  margin: 20px 0;
}

.current-file{
  font-size: 16px;
  color: green;
}

.game-detail img{
  height: 220px;
}

@media (max-width: 1000px) {
  header{
    font-size: 20px;
  }
  h1{
    text-align: center;
  }
  .consoles,
  .console-games,
  .games{
    grid-template-columns: repeat(3, 1fr);
  }
  .confirm-delete{
    width: 80%;
  }
}